.createLink > input {
    height: 40px;
    border: none;
    border-bottom: 2px solid #727272;
    outline: none;
    background: none;
    color: #727272;
    border-radius: 0;
    font-size: larger;
    margin-right: 20px;
}